<!DOCTYPE html>
<html>
    <head>
        <title>block-it!</title>
    </head>
    <body style="background-color: #dfd3d3;">
        <p>1am:<%= am1 %></p>
        <p>2am:<%= am2 %></p>
        <p>3am:<%= am3 %></p>
        <p>4am:<%= am4 %></p>
        <p>5am:<%= am5 %></p>
        <p>6am:<%= am6 %></p>
        <p>7am:<%= am7 %></p>
        <p>8am:<%= am8 %></p>
        <p>9am:<%= am9 %></p>
        <p>10am:<%= am10 %></p>
        <p>11am:<%= am11 %></p>
        <p>12pm:<%= am12 %></p>
        <p>1pm:<%= pm1 %></p>
        <p>2pm:<%= pm2 %></p>
        <p>3pm:<%= pm3 %></p>
        <p>4pm:<%= pm4 %></p>
        <p>5pm:<%= pm5 %></p>
        <p>6pm:<%= pm6 %></p>
        <p>7pm:<%= pm7 %></p>
        <p>8pm:<%= pm8 %></p>
        <p>9pm:<%= pm9 %></p>
        <p>10pm:<%= pm10 %></p>
        <p>11pm:<%= pm11 %></p>
        <p>12pm:<%= pm12 %></p>
    </body>
</html>